<div class="container">
  <div class="row">
    <h1 class="text-center title-about animation-bottom">What about サウナで"ととのう"?</h1>
  </div>
  <div class="row text-center animation-bottom">
    <div class="col-md-4">
      <span class="service-icon img-circle center-block">
        <i class="fas fa-search-location icon-1" aria-hidden="true"></i>
      </span>
      <h4>
        <strong>サウナを検索</strong>
      </h4>
    </div>
    <div class="col-md-4">
      <span class="service-icon img-circle center-block">
        <i class="far fa-comments icon-1" aria-hidden="true"></i>
      </span>
      <h4>
        <strong>口コミを見る</strong>
      </h4>
    </div>
    <div class="col-md-4">
      <span class="service-icon img-circle center-block">
        <i class="far fa-handshake icon-1" aria-hidden="true"></i>
      </span>
      <h4>
        <strong>サウナ好きと繋がる</strong>
      </h4>
    </div>
  </div>

  <div class="row about-item animation-left">
    <div class="col-md-offset-1 col-md-8">
      <span class="about-title">検索機能</span><br>
      <span class="about-body-text">登録された全国のサウナを自在に検索することができます.<br>
      ・サウナジャンル別検索：スチーム、ドライ、韓国式などなど、、<br>
      ・都道府県別検索：全国よりお選びいただけます！<br>
      ・ランキング検索：PV数やイキタイ数、サウナ飯数など様々です！<br>
      ・現在地からの検索：今いる現在地を取得し、近くにあるサウナにすぐアクセスできます！
      </span>
    </div>
    <div class="col-md-3">
      <span class= "about-icon">
        <i class="fas fa-search-location icon-2" aria-hidden="true"></i>
      </span>
    </div>
  </div>

  <div class="row about-item animation-right">
  <div class="col-md-3">
      <span class= "about-icon">
        <i class="far fa-comments icon-2" aria-hidden="true"></i>
      </span>
    </div>
    <div class="col-md-offset-1 col-md-8">
      <span class="about-title">口コミ機能</span><br>
      <span class="about-body-text">レビュー、コメントを通して生の声にすぐアクセスできます<br>
      ・レビュー機能：サウナのレビューを投稿、閲覧できます。点数機能を実装しているので素の評価を閲覧することが可能です。<br>
      ・コメント機能：レビューに対してコメントすることも可能です。詳しく聞きたい時に活用ください！<br>
      </span>
    </div>
  </div>

  <div class="row about-item animation-left">
    <div class="col-md-offset-1 col-md-8">
      <span class="about-title">サウナ好きと繋がる</span><br>
      <span class="about-body-text">全国のサウナ好きといつでも繋がることができます。<br>
      ・フォロー機能：SNSのようなイメージで繋がることができます。<br>
      ・DM機能：話したい人とすぐメッセージのやりとりができます。DMが届くと通知がくる仕様になっているので安心です。<br>
      </span>
    </div>
    <div class="col-md-3">
      <span class= "about-icon">
        <i class="far fa-handshake icon-2" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</div>
