  <div class="row">
    <section class="user-select">
      <div class="wrap">
        <h2 class="user-select__misashi">どちらでログインしますか？</h2>
        <%= link_to new_user_session_path, class: "btn user-select__btn btn_color_yellow" do %>
        <i class="fas fa-user-alt.user-select__icon">
          <p class="txtm">ユーザーログイン</p>
        </i>
        <% end %>

        <%= link_to new_admin_session_path, class: "btn user-select__btn btn_color_orange " do %>
        <i class="fas fa-user-cog.user-select__icon">
          <p class="txtm">管理者ログイン</p>
        </i>
        <% end %>
      </div>
    </section>
  </div>
