<!DOCTYPE html>
<html>
  <body>
    <h3><%= @contact.name %> 様 から問い合わせがありました。</h3>
    <p>お客様メールアドレス: <%= @contact.email %></p>
    <p>タイトル: <%= @contact.body %></p>
    <p>お問い合わせ内容: <%= @contact.body %></p>
  </body>
</html>

