/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "bootstrap";

* {
  font-family: 'Kosugi Maru', sans-serif;
}

.row{
  margin-left: 15px;
  margin-right: 15px;
}

body{
background-color: #EEEEEE;
display: flex;
flex-direction: column;
min-height: 100vh;
}

main{
margin-bottom: 30px;
}

footer {
	width: 100%;
	background-color: #070707;
	margin-top: auto;
  padding: 10px 0px;
}

.img_prev:hover {
  cursor: pointer; 
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

.user-select {
  text-align: center;
  padding: 10% 0px;
  display: flex;
  justify-content: space-around;
}
.user-select__misashi {
  font-weight: bold;
  font-size: 25px;
}
.user-select__btn {
  color: #5c6567;
  width: 300px;
  display: inline-block;
  border-radius: 15px;
  margin: 20px 50px;
  padding: 10px 50px;
}
.user-select__btn:hover {
  color: #5c6567;
}
.user-select__icon {
  margin-top: 30px;
  font-size: 50px;
}
.btn_color_orange {
  color: #fff;
  background-color: #ff6900;
}
.btn_color_yellow {
  background-color: #ffc605;
  color: #fff;
}
// headerCSS

.header_acount {
  position: relative;
  }

.notifications-link {
  position: relative;
  }

.notifications-icon-1 {
  position: absolute;
  top: 16%;
  left: 70%;
  }

.notifications-icon-2 {
  position: absolute;
  top: 14%;
  left: 4%;
  }

.default {
  margin-bottom: 0px;
}

  // footercss

.footer_logo {
  color: #fff;
  font-size: 30px;
  text-decoration-line: underline;
}

.menu span {
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #c7c7c7;
  padding: 10px 0px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}

.address span,
.menu span {
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #c7c7c7;
  padding: 5px 0px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}

.address li a,
.menu li a {
  color: #fff;
  letter-spacing: 3px;
}

.address li,
.menu li {
  margin: 20px 0px;
}

.address li a:hover,
.menu li a:hover {
  color: #da3e44;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

  // メインCSS

.main-visual {
  width: 100%;
  height: 600px;
  background-image: image-url("sauna_top-2.jpg");
  background-size: contain;
  background-position: center;
  }

.main-visual-content{
	width: 100%;
	height: 200px;
	line-height: 600px;
  padding:100px;
  margin-top: 120px;
}

.top-search-title-sub{
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  }

.top-search-title-main{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.1;
  display: flex;
  justify-content: center;
}

.reset-btn-width{
  width: auto;
}

.top-search-form-wrapper {
  display: flex;
  justify-content: center;
}

.top-search-form-container {
  display: flex;
}

.top-search-form-input-container {
  margin-right: 30px;
}


  // 新規登録、ログインCSS

.card-container.card {
    max-width: 500px;
    padding: 40px 40px;
    word-wrap: break-word;
}

.card {
    background-color: #fffaf0;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}


.btn.btn-signin {
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 38px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin2 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
}
.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(142, 146, 218);
}

.btn.btn-signin2:hover,
.btn.btn-signin2:active,
.btn.btn-signin2:focus {
    background-color: rgb(185, 187, 214);
}

.newform {
  margin-top: 10px
}

// topsectioncss

section {
  background-color: #FFFAF0;
}

.text-secondary {
  color: #ecb807 !important;
}

.service-icon {
  background-color: #fff;
  height: 10rem;
  width: 10rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.icon-2 {
  font-size: 150px;
  color: 	darkorange;
  margin: 40px 8px 0px 40px;
}

.icon-1 {
  font-size: 60px;
  color: 	#65A2FF;
  margin: 20px 8px 0px 9px;
}

.box {
  padding: 60px 0px;
}

.box-part {
  background: #FFF;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 20px 0px;
}

.title{
  font-size: 20px;
  font-weight: bold;
  border-bottom:solid 5px #65A2FF;
}

// 点数
.score {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(45deg, #ffc107 0%, #ff8b5f 100%);
  transition: 0.4s;
}

// サウナ新規登録

.card-container2.card {
    max-width: 850px;
    padding: 40px 40px;
    word-wrap: break-word;
}

.table-sauna {
  margin-top: 30px;
}

// レビュー覧

.score_index {
  display: inline-block;
  padding: 5px 5px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #65A2FF;
  transition: 0.4s;
}

.thumbnail_fix{
font-size: medium;
}

.card_food {
    background-color: #fff0f5;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-container_food {
    max-width: 400px;
    padding: 20px 20px;
    word-wrap: break-word;
}

.flash{
	width: 100%;
	height: 30px;
	font-size: 18px;
	text-align: center;
	padding: 0;
	position: fixed;
  z-index: 1;
}

.notice{
background-color: #65A2FF;
}

.alart_flash{
color: #FFFFFF;
background-color: #FF0000;
}

.product {
  .panel-body {
    height: 200px;
  }
  .panel-heading {
    height: 200px;
  }  
}

.img {
    height: 100%;
    max-width: 100%;      
  }

.product-brand {
  /* 文の行数を1行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
}

.product-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 3.0em;
  text-align: center;
}
.search {
  margin-left: auto;
  margin-right: auto;
}

.score_search {
  text-align: center;
  padding: 7px 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #000000;
  background-image: linear-gradient(45deg, #FFEEFF 20%, #EEFFFF 100%);
  transition: 0.4s;
}

.sp-table{
  display: none;
}

.th-width{
  width: 150px;
}

.twiiter-share{
  margin-top: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.sauna-show-image{
  width: 100%;
  padding-top: 10px;
}

.ikitai-button{
  margin-top: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  }

// サイト概要ページ
.about-item{
	padding: 20px;
	margin: 30px 20px 70px 20px;
  background-color: white;
  border-radius: 50px;
}

.about-title{
  font-size: 35px;
  font-weight: bold;
}

.about-body-text{
  font-size: 20px;
}

.title-about {
  font-size: 50px;
  font-weight: bold;
  color: #EEFFFF;
  background-color: blue;
  padding: 50px;
  border-radius: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  }

  .about-icon{
    font-size: 50px;
  }

// フェードイン
.animation-bottom{
	opacity : 0;
	visibility: hidden;
	transition: 3s;
	transform: translateY(0);
}
.active-bottom{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.animation-right{
	opacity : 0;
	visibility: hidden;
	transition: 2s;
	transform: translateX(50px);
}
.active-right{
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}
.animation-left{
	opacity : 0;
	visibility: hidden;
	transition: 2s;
	transform: translateX(-30px);
}
.active-left{
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

// レスポンシブ

@media (max-width: 890px) {
  .main-visual-content{
    padding: 50px;
  }

  .top-search-form-container{
    flex-direction: column; 
  }
  .top-search-form-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .top-search-title-sub{
    font-size: 20px;
  } 
  .top-search-title-main{
    font-size: 30px;
  }

  .sp-table{
    display: block;
  }
  .table-sauna{
    display: none;
  }
  .sp-table-th{
    width:150px;
  }
  .score {
    width:100%;
    text-align: center;
  }
  .ikitai-button{
    width: 100%;
    text-align: center;
    position: initial;
  }
  .twiiter-share{
    width: 100%;
    text-align: center;
    position: initial;
  }
}

@media (max-width: 490px) {

  .top-search-title-sub{
    font-size: 10px;
  } 
  .top-search-title-main{
    font-size: 20px;
  }

}
