<h1>キーワードを含む商品一覧</h1>

<table class="table">
  <thead>
    <tr class="active">
      <th>サウナID</th>
    </tr>
  </thead>
  <tbody>
    <% @saunas.each do |sauna| %>
    <tr>
      <td><%= sauna.id %></td>
      <td><%= sauna.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>