<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
  <%= link_to user_room_path(notification.message.room) do %>
    <%= visitor.name %>
  <% end %>
  さんが
  <% if notification.action=='dm' %>
    あなたにDMを送りました
  <% end %>
</div>